################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Restaurant/.vs
/Restaurant/bin/Debug/net8.0
/Restaurant/obj
/Restaurant.Domain/bin/Debug/net8.0
/Restaurant.Domain/obj
